
<header>
  <!-- <nav>
    <a href="#" id="logo">Logo</a>
    <ul>
    <li><a routerLink="/departments" routerLinkActive="active">Departments</a></li>
    <li><a routerLink="/employees" routerLinkActive="active">Employees</a></li>
    </ul>
  </nav> -->
  <div style="padding-top:100px; padding-bottom:20px;text-transform: uppercase; text-align: center; font-weight: bold;">
    Website is under construction<br>
 
  </div>
  <small style=" text-align: center; display: block;"><em>
    UX/UI + Angular 
    </em></small>
</header>
<!-- <router-outlet></router-outlet> -->
