<app-header></app-header>
<section class="banner about-me">
  <div class="container">
    <div class="col user-image"></div>
    <div class="col user-info">
      <p>Hello, I am Puskal Kafle. <br>
      <small>More information coming soon. This site currently is on under construction.</small>
      </p>
    </div>
  </div>
</section>
<section class="section photo-gallery">
  <div class="container">
    <h2 class="title">Photo Gallery</h2>
    <owl-carousel [options]="mySlideOptions"  [carouselClasses]="['owl-theme', 'photo-slider']" >
      <div class="item" *ngFor="let image of mySlideImages;let i = index">
          <img src={{image}}/>
      </div>
    </owl-carousel>
  </div>
</section>
<section class="section my-skills">
  <div class="container">
    <h2 class="title">My Skills</h2>
    <canvas baseChart
    [data]="ChartData"
    [labels]="ChartLabels"
    [colors]="CharColors"
    [chartType]="ChartType"
    [options]="ChartOptions" 
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"></canvas>
  </div>
</section>
<section class="section thumbnail-item books">
  <div class="container">
    <h2 class="title">Books that I like</h2>
    <ul>
      <li><img src="../../assets/books/kaizenway.jpg"></li>
      <li><img src="../../assets/books/thinknadgrowrich.jpg"></li>
      <li><img src="../../assets/books/night.jpg"></li>
      <li><img src="../../assets/books/steallikeanartist.jpg"></li>
    </ul>
  </div>
</section>
<section class="section thumbnail-item movies">
    <div class="container">
      <h2 class="title">Movies that I like</h2>
      <ul>
        <li><img src="../../assets/grave_of_fireflies.jpg"></li>
        <li><img src="../../assets/grave_of_fireflies.jpg"></li>
        <li><img src="../../assets/grave_of_fireflies.jpg"></li>
        <li><img src="../../assets/grave_of_fireflies.jpg"></li>
      </ul>
    </div>
  </section>
<section class="section certificates">
    <div class="container">
      <h2 class="title">Accomplishments</h2>
      <owl-carousel [options]="mySlideOptions"  [carouselClasses]="['owl-theme', 'photo-slider']" >
          <div class="item" *ngFor="let image of mySlideImages;let i = index">
              <!-- <img src={{image}}/> -->
              <a href="#"><img src="../../assets/certificate.jpg">
              <span class="certificate-label">Fundamentals of Graphic Design</span>
              </a>
          </div>
        </owl-carousel>
    </div>
  </section>
  <section class="bottom-img">
    <div class="container">
        <div class="content">
            <p>Imagination is more important than knowledge.</p>
            <span><b>Albert Einstein</b></span>
          </div>
    </div>
 
    </section>
    <app-footer></app-footer>