@import '../../assets/variables';

.banner{
    padding: 100px 0 100px 0;
    background: #1E233C;
    background-size: contain;
    color: #ffffff;
    small{
        font-size: 12px;
    }
    .container{
        display: flex; flex-direction: row; justify-content: space-evenly; background: url(../../assets/IMG_2704.JPG) 35% 53% no-repeat; background-size: 50%;
    }
    .user-image{

    }
    .col{
        //height: 500px;
        //width: 50%;
        &:first-child{
            margin-right: 0;
            width: 300px;
            height: 200px;
            position: relative;
            top: 73px;
        }
        &:last-child{
            font-size: 14px;
            background: rgba(30, 35, 60, 0.8);
            padding: 30px;
            -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=38, Direction=0, Color=#000000)";/*IE 8*/
            -moz-box-shadow: 0 0 38px 3px #000000;/*FF 3.5+*/
            -webkit-box-shadow: 0 0 38px 3px #000000;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
            box-shadow: 0 0 38px 3px #000000;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
            filter: progid:DXImageTransform.Microsoft.Shadow(Strength=38, Direction=135, Color=#000000); /*IE 5.5-7*/

        }
    }
}

.thumbnail-item{
    ul{
        display: flex;
        justify-content: space-between;
        li{
            width: 20%;
            margin-right: 10px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            &:last-child{
                margin-right: 0;
            }
            img{
                width: 100%;
            }
        
        }
    }
}

.bottom-img{
    background: url("../../assets/think.jpeg") no-repeat 0% 35%;
    height: 288px;
    @media (min-width:1900px) {
        height: 500px;
    }
    background-size: cover;
    position: relative;
    margin-top: 50px;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }


  }

.certificates .item a{position:relative;display: block;}

.certificate-label{
    position:absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    font-size: 12px;
    display: block;
    background: rgba(30, 35, 60, .85);
    color: #fff;
    padding: 5px 0;
}
.big-text{
    color: $color1;
    font-weight: bold;
    font-size: 72px;
}
.user-info p{
    margin-top: 0;
    line-height: 1.5em;
    font-weight: lighter;
    letter-spacing: 1px;
    color: #d4dce6;
    font-size: 16px;
    width: 340px;
    a{
        color: $color1;
    }
}
.skills_and_social{
    .container{
        // display: flex;
        // align-items: stretch;
        .col-2{
            // width: 50%;
            &:last-child{
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}
.section{
    .container{
        display: flex;
        align-items: stretch;
        .col-2:first-child{
            width: 70%;
        }
        }
        &.certificates{
            .container{
        
                .col-2:first-child{
                    width: 100%;
                }
                }
        }
}
.twitter-wrapper{
    margin-top: 24px;
}

//Svg Design Starts

.about-me {
    svg {
        width: 100%;
    }
    .filled-heading {
        text-transform: uppercase;
        font-size: 4em;
        line-height: 0.9;
        font-weight: bold;
    }
    
    #background path {
        animation: pulse 4s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite;
        transform-origin: 50% 50%;
        transform-box: fill-box;
    }
    #textClip text {
        display: none;
    }
    #textClip text:nth-of-type(n + 1):nth-of-type(-n + 3) {
        display: inline;
    }
    
    @keyframes pulse {
        0%, 100% { transform: scale(0) rotate(33deg); }
        35%, 65% { transform: scale(1) rotate(0deg); }
    }
}
.title{
    em{
        font-family: 'Playfair Display', serif;
        color: #cccccc;
    }
}