@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@import './assets/variables';

body{
  font-family: 'Open Sans', sans-serif;
}

ul,li{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a{
  color:  #333333;
  text-decoration: none;
  -webkit-transition: color .5s;
  transition: color .5s;
}
a:hover{
  color:  #707070;
}
.btn{
  padding: 10px 20px;
  background: #CCCCCC;
  color: #ffffff;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  &.btn-line{
    border: 2px solid #000000;
    color: #000000;
    background: transparent;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    &.disabled{
      border: 2px solid #CCCCCC;
      color: #CCCCCC;
      cursor: default;
    }
  }
}
.container,.header-nav{
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}


.big-btn{
  padding: 10px 20px;
  background: $color2;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  transform: translateY(-50%);
  display: inline-block;
}

.section{
  .title{
    border-bottom: 1px solid #d3d3d3;
    line-height: 2em;
    color: #333;
    letter-spacing: 1px;

  }
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span{
    background: $color1 !important;
}

.body.preview-box{
  overflow: hidden;
}