@import '../../assets/variables';

//Radio button design start
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: $color2;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
//Radio button design end

.home-banner{
  padding: 100px 0 50px 0;
  background: #1E233C url("../../assets/banner_bg.jpg") no-repeat left;
  background-size: contain;

  .container{
    display: flex;
    justify-content: space-between;
    @media (max-width:414px) {
      flex-direction: column;
    }
    .img-container{
      width: 33.33%;
      &:not(:last-child){
        margin-right: 30px;
      }
      &:nth-child(2){

      }
    }
  }
}

.img-container .img-item{
  height: 424px;
  &.image-item1{
    background: url("../../assets/work/3277cf8881383.562bac20e3087.jpg") center;
    background-size: cover;
  }
  &.image-item2{
    background: url("../../assets/work/Dog_DIGITAL-PAINTING.jpg") center;
    background-size: cover;
  }
  &.image-item3{
    background: url("../../assets/work/HomeDesktopHD.jpg") top;
    background-size: cover;
  }
}
.img-container {
span{
  display: inline-block;
  color: #CAE0FC;
  padding: 10px 0;

  &:nth-child(2){
    padding-bottom: 50px;
  }

}
}
.work_option{
  label{
    margin-right: 20px;
  }
    margin-bottom: 45px;
    margin-top: 10px;
}


.bottom-img{
  background: url("../../assets/patrick-hendry-756557-unsplash.jpg") no-repeat center;
  height: 288px;
  @media (min-width:1900px) {
    height: 500px;
  }
  background-size: cover;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
}

.section.works{
  background: rgba(0, 0, 0, .05);
}


