<div class="home-banner">
  <div class="container">
    <div class="img-container">
      <span>some random text</span>
      <div class="img-item"></div>
    </div>
    <div class="img-container">
      <div class="img-item"></div>
      <span>some random text</span>
    </div>
    <div class="img-container">
      <span>some random text</span>
      <div class="img-item"></div>
    </div>
  </div>
</div>

<section class="section works">
  <div class="container">
    <a class="big-btn">WORK & SKILLS</a>
  </div>
</section>