<div class="home-banner">
  <div class="container">
    <div class="img-container">
      <span>some random text</span>
      <div class="img-item"></div>
    </div>
    <div class="img-container">
      <div class="img-item"></div>
      <span>some random text</span>
    </div>
    <div class="img-container">
      <span>some random text</span>
      <div class="img-item"></div>
    </div>
  </div>
</div>

<section class="section works">
  <div class="container">
    <a class="big-btn">WORK & SKILLS</a>
    <form class="work_option">
      <input type="radio" id="works1" name="radio-group" checked (click)='worklistcomponent.setUserOption("all")'>
      <label for="works1">Show All</label>
      <input type="radio" id="works2" name="radio-group" (click)='worklistcomponent.setUserOption("design")'>
      <label for="works2">Only Design</label>
      <input type="radio" id="works3" name="radio-group" (click)='worklistcomponent.setUserOption("development")'>
      <label for="works3">Only Development</label>
    </form>
    <app-work-list></app-work-list>
  </div>
</section>