.footer{
    padding: 20px 0;
    color: #ACACAC;
    .container{
      display: flex;
      justify-content: space-between;
  
    }
    .social{
      .icon{
        background: url("../../assets/twitter.svg") center no-repeat;
        width: 20px;
        height: 20px;
        background-size: cover;
        filter: grayscale(100%);
        display: inline-block;
        margin: 0 10px;
        &.linkedin{
          background: url("../../assets/linkedin.svg");
          margin-right:0;
        }
        &:hover{
          filter: grayscale(0);
        }
      }
    }
  }